<div>
  <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="age">Age</th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<nav class="pagination-buttons">
  <button type="button" (click)="onFirst()" class="first">|< First</button>
  <button type="button" (click)="onBack()">Previous</button>
  <span class="page-number">{{currentPaginationState.page+1}}</span>
  <button type="button" (click)="onNext()">Next</button>
  <button type="button" (click)="onLast()" class="last">Last >|</button>
</nav>